#noPublishedItemMsg {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #999;
    margin-top: 50px;
}

.innerDivWrapper.col-md-12, .innerDivWrapper.col-sm-12 {
    height: auto;
}

.inner.latest {
    width: 100%;
    height: auto;
}

    .inner.latest:not(:last-child) {
        border-bottom: 1px solid #efefef;
    }
    
    .item-on-latest-list .col-md-3 {
        width: 8% !important;
        margin-top: 10px;
        margin-right: 20px;
    }

a {
    color: #333;
}

.item-on-latest-list .col-sm-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row-image {
    max-height: 80px;
}

.item-on-latest-list {
    background-color: #fff;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 10px;
}


    .item-on-latest-list img {
        min-height: 70px;
        width: 150px;
        max-width: 100%;
        /*max-height:120px;*/
    }

@media (max-width: 768px) {
    #justToaveIf {
        padding-left: 20px;
    }

    #noPublishedItemMsg {
        font-size: 16px;
    }
    
    .item-on-latest-list img {
        padding-left: 20% !important;
        padding-right: 20% !important;
        padding-right: 0 !important;
        float: left;
        width: 60px;
        height: 50px;
        max-width: 80px;
        max-height: 60px;
        min-height: 50px;
        margin-right: 10px !important;
        margin-top: 10px;
        padding-right: 0 !important;
    }

    .desc-wrapper {
        /*margin-left: 10px !important;*/
        margin-left: 10px;
        margin-right: 10px !important;
        margin-bottom: 10px !important;
    }
}

.list-group-item {
    background-color: #ddd;
    border: none !important;
}
