<button (click)="openSideBar()" type='button' id="btnOpenSideBar">
    <span class='sr-only'>Toggle navigation</span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
</button>

<div id="outlet-wrapper">
    <div id="admin-sidebar">
        <span style="display:block;position:fixed;top:5px;right:5px;"><i class="fa fa-window-close-o"></i></span>
        <p (click)="closeAdminSideBar()" style="margin-bottom:50px;"><span [routerLink]="['manage/alluser']">Users</span></p>
        <p (click)="closeAdminSideBar()" style="margin-bottom:50px;"><span [routerLink]="['manage/allpost']">Posts</span></p>
        
    </div>
    <div id="router-wrapper" >
        <router-outlet></router-outlet>
    </div>
</div>

<div id="overlay" (click)="closeAdminSideBar()" *ngIf="sidebarShowing"></div>