<div id="just4WrpSake" *ngIf="userLoggedIn">
    <div class="col-md-3 hidden-sm"></div>
    <div class="col-md-6 col-sm-12">
        <section class="login-form well well-lg" style="margin-bottom:0;">
            <h4>Add new item</h4>
            <div>
                <form [formGroup]="addNewItemFormGroup" novalidate (ngSubmit)="addAndNavigate(addNewItemFormGroup.value)">
                    <div class="form-group form-group-lg" [ngClass]="{'has-error': (addNewItemFormGroup.get('title').touched ||
                                                addNewItemFormGroup.get('title').dirty) &&
                                                !addNewItemFormGroup.get('title').valid }">
                        <input type="text" placeholder="Title" class="form-control" formControlName="title" />

                        <span class="help-block" *ngIf="(addNewItemFormGroup.get('title').touched ||
                                                            addNewItemFormGroup.get('title').dirty) &&
                                                            (addNewItemFormGroup.get('title').errors ||
                                                            addNewItemFormGroup.get('title').errors) ">
                            <span class="text-danger" *ngIf="addNewItemFormGroup.get('title').errors.required">
                                Title is needed.
                            </span>
                            <span class="text-danger" *ngIf="addNewItemFormGroup.get('title').errors.minlength">
                                Title must be longer than 4 characters.
                            </span>
                            <span class="text-danger" *ngIf="addNewItemFormGroup.get('title').errors.maxlength">
                                Title must not be longer than 60 characters.
                            </span>
                        </span>
                    </div>

                    <div class="form-group form-group-lg">
                        <select class="form-control" formControlName="itemCategory">
                            <option disabled value="">Select category</option>
                            <option *ngFor="let category of allCategory" value='{{category.toLowerCase().replace("/","-")}}'>{{category}}</option>
                        </select>
                    </div>

                    <div class="form-group form-group-lg">
                        <select class="form-control" formControlName="itemState">
                            <option disabled value="">Select state</option>
                            <option *ngFor="let state of allNigState" value='{{state.toLowerCase().replace(" ","-")}}'>{{state}}</option>
                        </select>
                    </div>
                    <div class="form-group form-group-lg" [ngClass]="{'has-error': (addNewItemFormGroup.get('description').touched ||
                                                addNewItemFormGroup.get('description').dirty) &&
                                                !addNewItemFormGroup.get('description').valid }">
                        <textarea placeholder="Description" class="form-control" rows="5" formControlName="description"></textarea>
                        <span class="help-block" *ngIf="(addNewItemFormGroup.get('description').touched ||
                                                            addNewItemFormGroup.get('description').dirty) &&
                                                            (addNewItemFormGroup.get('description').errors ||
                                                            addNewItemFormGroup.get('description').errors) ">
                            <span class="text-danger" *ngIf="addNewItemFormGroup.get('description').errors.required">
                                Description is needed.
                            </span>
                            <span class="text-danger" *ngIf="addNewItemFormGroup.get('description').errors.minlength">
                                Description must be longer than 9 characters.
                            </span>
                            <span class="text-danger" *ngIf="addNewItemFormGroup.get('description').errors.maxlength">
                                Description must not be longer than 400 characters.
                            </span>
                        </span>
                    </div>
                    <!-- Image area -->
                    <div class="row" style="margin-top:50px;margin-bottom:80px;">
                        <alert style="text-align:center;" *ngIf="showFileSizeError" type="success" [dismissible]="true" dismissOnTimeout="3000" (onClosed)="alertClosed()">
                            File size too big, should not exceed 10MB
                        </alert>

                        <alert style="text-align:center;" *ngIf="caughtEmptyValue" type="warning" [dismissible]="true" dismissOnTimeout="3000" (onClosed)="alertForEmptyValClosed()">
                            You are trying to submit an empty Value
                        </alert>

                        <p class="col-sm-12 text-center" id="noAcc">Add Photos<span id="addPotosDef">(post with pictures attract more contacts.)</span></p>
                        <ul class="list-inline text-center" style="margin-top:20px;">
                            <li *ngIf="!showFirstImage" class="bg-success" (click)="firstImgInputClickTrigger()">
                                <span class='glyphicon glyphicon-camera btn-sm plus-sign'></span>
                            </li>
                            <li *ngIf="showFirstImage" id="firstimgzone">
                                <img id="firstImgDisplay" />
                                <span class="btn btn-block btn-sm btn-danger clearbtn" (click)="clearFirstImgPrev()" style="cursor:pointer;">Change/Clear Photo</span>
                            </li>


                            <li *ngIf="!showSecondImage" class="bg-success" (click)="secondImgInputClickTrigger()">
                                <span class='glyphicon glyphicon-camera btn-sm plus-sign'></span>
                            </li>
                            <li *ngIf="showSecondImage" id="secondimgzone">
                                <img id="secondImgDisplay" />
                                <span class="btn btn-block btn-sm btn-danger clearbtn" (click)="clearSecondImgPrev()" style="cursor:pointer;">Change/Clear Photo</span>
                            </li>

                            <li *ngIf="!showThirdImage" class="bg-success" (click)="thirdImgInputClickTrigger()">
                                <span class='glyphicon glyphicon-camera btn-sm plus-sign'></span>
                            </li>
                            <li *ngIf="showThirdImage" id="thirdimgzone">
                                <img id="thirdImgDisplay" />
                                <span class="btn btn-block btn-sm btn-danger clearbtn" (click)="clearThirdImgPrev()" style="cursor:pointer;">Change/Clear Photo</span>
                            </li>
                        </ul>
                    </div>

                    <alert style="text-align:center;" *ngIf="publishingStarted && !ErrorReason" type="success">
                        <img src="/Images/Loading.png" class="loadingImg" /> Publishing Item...
                    </alert>
                    <alert style="text-align:center;" *ngIf="ErrorReason" type="success">
                        {{ErrorReason}}
                    </alert>
                    <div class="form-group form-group-lg"><input type="submit" value="Submit" class="btn btn-warning center-block form-control" [disabled]="!addNewItemFormGroup.valid" /></div>

                    <!-- HIDDEN INPUT FILES -->
                    <P style="display:none;">
                        <input type="file" name="firstImgInput" id="firstImgInput" (change)="firstImgInputChanged(firstImgInput)" formControlName="firstImage" #firstImgInput />
                        <input type="file" name="secondImgInput" id="secondImgInput" (change)="secondImgInputChanged(secondImgInput)" formControlName="secondImage" #secondImgInput />
                        <input type="file" name="thirdImgInput" id="thirdImgInput" (change)="thirdImgInputChanged(thirdImgInput)" formControlName="thirdImage" #thirdImgInput />
                    </P>
                    <!-- END OF HIDDEN INPUT FILES -->
                </form>
            </div>
        </section>
    </div>

    <div class="col-md-3 hidden-sm"></div>
</div>

<div *ngIf="!userLoggedIn" style="text-align:center;margin-top: 3%;">
    <p id="infoMsg">Placing ad is only for registered users</p>
    <button [routerLink]="['/signup']" class="btn btn-info">Register</button>
    <button [routerLink]="['/signin']" class="btn btn-info">Login</button>
</div>