p span a{
    font-size:15px;
}

a {
    color: #333 !important;
}

.link-active {
   padding: 10px;
    margin-right: 20px;
    background-color: #666;
    border-bottom: 2px #aab66e solid;
    border-radius: 20px;
}

    .link-active a {
        text-decoration:none;
        color:#fff !important;
    }
