#changePhotoSpan {
    color: #1db164;
    font-size: 13px;
    /*font-weight: bold;*/
    cursor:pointer;
}

#changePhotoSpan:hover {
    color: #36c87c;
}

#user-pic-wrp {
    width: auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.user-pic {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}

#user-detail-wrp {
    width:inherit;
    margin-top: 30px;
    /*margin-left: 40px;*/
}

.user-dummy-pic {
    background-color: #666;
    color: #ccc;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 40px;
    /*padding-top: 15px;*/
}

#dummyUserPic {
    width: 90%;
    height: 100%;
    margin-top: 10px;
}

div[role="alert"] {
    width: 150px !important;
} 

@media (max-width: 768px) {
    #user-pic-wrp {
        width: 200px;
        margin-bottom: 20px;
        margin-top: 40px;
        float:none;
        margin-right:30%;
        margin-left:30%;
    }


    #user-detail-wrp {
        width: 200px;
        margin-top: 10px;
        margin-left: 30%;
        margin-right: 30%;
        float: none;
    }
}